[user]
	name = Wretstam Oskar
	email = oskar.wretstam.ow@gmail.com
[core]
	excludesfile = /home/owretstam/.gitignore_global
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lit = log master --graph --decorate --abbrev-commit
	branched = branch -rv
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[color]
	ui = auto
[merge]
	tool = meld
